<div class="container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Edit <Address></Address></h1>

    <div class="street-No" mat-dialog-content>
        <mat-form-field>
            <mat-label>Street + House No.</mat-label>
            <input [disabled]="loading" matInput [(ngModel)]="user.street">
        </mat-form-field>
    </div>

    <div class="adress" mat-dialog-content>
        <mat-form-field>
            <mat-label>Zip code</mat-label>
            <input [disabled]="loading" matInput [(ngModel)]="user.zipCode">
        </mat-form-field>

        <mat-form-field>
            <mat-label>City</mat-label>
            <input [disabled]="loading" matInput [(ngModel)]="user.city">
        </mat-form-field>
    </div>


    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="onNoClick()">Cancel</button>
        <button [disabled]="loading"(click)="saveUser()" mat-button [disabled] [mat-dialog-close]="user" cdkFocusInitial>Save</button>
    </div>

</div>
