<div class="container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add user</h1>


    <div class="names" mat-dialog-content>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input [disabled]="loading" matInput [(ngModel)]="user.firstName">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input [disabled]="loading" matInput [(ngModel)]="user.lastName">
        </mat-form-field>
    </div>


    <mat-form-field class="date" appearance="fill">
        <mat-label>E-mail adress</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.email" matInput>
   
    </mat-form-field>

    <mat-form-field class="date" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

 

    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="onNoClick()">Cancel</button>
        <button [disabled]="loading"(click)="saveUser()" mat-button [disabled] [mat-dialog-close]="user" cdkFocusInitial>Save</button>
    </div>

</div>
