.user-detail-header{
    min-height: 250px;
    background-color: rgb(236, 100, 51);
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
        margin-left: 16px;
    margin-bottom: 16px;
    }
}

.user-details{
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    

    h2{
        margin-bottom: 0;
    }
}


mat-card-header{

    h2{
        margin-bottom: 0;
    }
}

.pin-right-corner{
    position: absolute;
    right: 0;
    top: 0;
}